<div class="card">
  <div class="card-header" style="text-align: center;">
    <h2>{{title}}</h2>
  </div>
  <div class="card-body" >
    <div class="container">
      <form [formGroup] = "registrationForm" (ngSubmit)="onSubmit()">
        <div class="container">
          {{registrationForm.value | json}}
        </div>
        <br>
        <div class="form-group row">
          <label for="name" class="col-sm-2">UserName : </label>
          <input [ngClass]= "{'is-invalid' : registrationForm.controls.userName.invalid && f.userName.touched }" 
                class="form-control col-sm-7" 
                id="userName" 
                formControlName = "userName">
        
          <div *ngIf="f.userName.touched && f.userName.invalid" class="text-danger col-sm-3">
            <div *ngIf="f.userName.errors?.required">
              Required Field
            </div>
            <div *ngIf="f.userName.errors?.minlength">
              Required minimum 3 Character
            </div>
            <div *ngIf="f.userName.errors?.forbiddenName">
              Custom validation error, it is not allowed 
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="email"  class="col-sm-2">Email Address:</label>
          <input [class.is-invalid] = "f.email.invalid && f.email.touched"
                 type="email" 
                 class="form-control col-sm-7" id="email" formControlName = "email">
          <small [class.d-none]="f.email.valid || f.email.untouched" class="text-danger">
              Email is required
          </small>
        </div>

        <div class="form-check mb-3" style="margin-left: 16%;">
          <input type="checkbox" class="form-check-input" id="subscribe" formControlName = "subscribe">
          <label for="subscribe"  class="form-check-label">Send Me Promotional Offers</label>
        </div>

          <div class=" form-group row">          
            <label for="phone"  class="col-sm-2">Phone Number:</label>
            <input type="number" 
                   class="form-control col-sm-7" 
                   id="phone" 
                   formControlName = "phone">
            <button type="button" class="btn btn-success ml-1 col-sm-2" (click) = "addAlternatePhones()">
              Add Phone Number
            </button>
          </div>
            <diV class=" form-group row" 
                formArrayName = "alternatePhones" 
                *ngFor= "let phone of alternatePhones.controls; let i = index">
              <label for="phone"  class="col-sm-2">Alternate Phone:</label>
              <input  [formControlName] = "i"
                      type="number" 
                      class="form-control col-sm-7" >                    
            </diV>        
        
        <div formGroupName="address">
          <div class="form-group row">
            <label for="city" class="col-sm-2">City : </label>
            <input class="form-control col-sm-7" id="city" formControlName = "city">
          </div>
          <div class="form-group row">
            <label for="state" class="col-sm-2">State : </label>
            <input class="form-control col-sm-7" id="state" formControlName = "state">
          </div>
          <div class="form-group row">
            <label for="country" class="col-sm-2">Country : </label>
            <input class="form-control col-sm-7" id="country" formControlName = "country">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="pwd"  class="col-sm-2">Password:</label>
          <input type="password" class="form-control col-sm-7" id="pwd" formControlName = "password">
        </div>

        <div class="form-group row">
          <label for="cpwd"  class="col-sm-2">Confirm Password:</label>
          <input [class.is-invalid] = "registrationForm.errors?.mismatch"
                type="password" class="form-control col-sm-7" id="cpwd" formControlName = "confirmPassword">
          <small *ngIf="registrationForm.errors?.mismatch" class="text-danger">Password Does Not Match</small>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button [disabled] = "!registrationForm.valid" class ="btn btn-primary">Submit</button>
            <button (click)="onLoadApiData()" class ="btn btn-secondary ml-2">Load API Data</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>