<div class="container bg-primary">
    <div class="row">
        <div class="col-xs-12">
            <h2 style= " text-align: center;">This is My AppComponent</h2>
            <hr>
        </div>
    </div>
</div>

<div class="jumbotron" style="text-align: center;">
    <p>{{title}}</p>
    <input type = text [(ngModel)]= "name">
    <p>{{name}}</p>
</div>


<app-server></app-server>

<app-servers></app-servers> 

<!-- <div app-servers></div> -->


<app-warning-alert></app-warning-alert>

<app-success-alert></app-success-alert>

